.detail-view {
  &__image-url {
    width: 260px !important;
  }

  &__options {
    display: flex;
    flex-direction: column;

    @include apply-to("sm") {
      flex-direction: row;

      .container {
        flex: 1;
      }
    }
  }
  &__phone-selectors {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
    padding: 10px 0;
  }

  &__product-name {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 0;
  }

  &__product-price {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }

  &__feature-box {
    display: flex;
  }

  &__capacity-box {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0px 28px;
    border: 1px solid #cccccc;
    cursor: pointer;
  }

  &__color-box {
    width: 24px;
    height: 24px;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-right: 20px;
    cursor: pointer;
  }

  &__add-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    height: 48px;
    cursor: pointer;
    border: 0px;

    &:disabled {
      color: #c2bfbc;
      background-color: #f3f2f2;
    }
  }
}
