.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid black;
  padding: 16px;
  text-transform: uppercase;
  font-weight: 300;

  &__media {
    width: 14rem;
    height: 14rem;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
  }

  &__brand {
    font-size: 12px;
    color: #79736d;
  }
}
